<div  class="sideBarMenu">
    <div class="header d-flex align-items-center justify-content-center">
        @if(!search) {
            <h1 i18n>Chats</h1>
            <button (click)="downloadUsers()">+</button>
        }@else {
            <h1 i18n>Invite</h1>
            <button (click)="search=false">&larr;</button>
        }
    </div>
    <div class="userInput d-flex align-items-center">
        <label>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
            </span>
            <form [formGroup]="searchForm">
                <input type="text" placeholder="Search..." formControlName="searchTerm" i18n-placeholder />
            </form>
        </label>
    </div>
    <div class="chatList">
        @if(search) {
            @if(users.length == 1){
               <div class="noClick" i18n>No users active</div> 
            }
            @for (user of fliteredUsers(); track $index) {
                @if(user.username !== loginData) {
                    <div (click)="startConversation(user.username)" >{{user.username}}</div>
                }
            }
        }
        @if(!search) {
            @for (room  of filteredRooms(); track $index) {
                <div (click)="switchRoom(room)">
                    {{ findSecondUserOfRoomService.findSecondParticipantName(room) }}
                </div>
            }
        }
    </div>
</div> 
